@model WebApplication1.Models.Employee

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>更新</title>
</head>
<body>
    <div>
        <form action="/employee/Update" method="post">
            姓名：<input type="text" id="TxtName" name="Name" value="@Model.Name" />
            工资：<input type="text" id="TxtSalary" name="Salary" value="@Model.Salary" />
            <input type="hidden" name="EmployeeId" value="@Model.EmployeeId" />
            <input type="submit" name="BtnSubmit" value="更新" />
            <input type="reset" name="BtnReset" value="重置" />
        </form>
    </div>
</body>
</html>
